.FullPage {
    width: 100%;
    top: 0;
    bottom: 0;
    height: 100vh;
    position: fixed;
    margin-left: -8px;
    margin-top: 0px;
    overflow-y: hidden;
    background: rgb(0,0,0);
    background: linear-gradient(104deg, rgba(0,0,0,1) -23%, rgba(54,25,25,1) 100%); 
}