/* Estilos gerais da página */
.app {
    display: flex;
    align-items: flex-start;
    --iconSize: 45px;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.toggle-button {
    margin-top: 10px;
    margin-left: 100px;
    padding: 10px 10px;
    background-color: transparent;
    color: white;
    border: none;
    z-index: 100000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #442A78;
}

.sidebar {
    width: 150px;
    background-color: #34224C;
    color: white;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 20px;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    transition: transform 0.5s ease;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar.closed {
    transform: translateX(-220px);
}

.sidebar h2 {
    color: #fff;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20%;
}

.sidebar ul li {
    margin: 10px 0;
    max-width: 188px;

}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease; 
    max-width: 188px;
}

.sidebar ul li a:hover {
    text-shadow: 0 0 10px #5d6ae2;
    transform: translateY(-5px);
}
.ballIcon {
    max-width: var(--iconSize);
    max-height: var(--iconSize);
    margin-right: 10px;
}

.ListItems {
    max-width: 188px;
}
.ListItems:hover {
    text-shadow: 0 0 10px #5d6ae2;
    transform: translateY(-5px);    
}